<html>
    <head>
        {% if title %}
        <title>{{ title }} - Session Calendar</title>
        {% else %}
        <title>Session Calendar</title>
        {% endif %}
    </head>
    <body>
        <div>
            Session Calendar:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('add') }}">Add</a>
            <a href="{{ url_for('get_events') }}">Events</a>
            <a href="{{ url_for('get_events_table') }}">Events table</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

    </body>
</html>